*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 20vh;
    padding: 5%;
    background-image: linear-gradient(rgba(0,8,51,0.9), rgba(0,8,51,0.9)), url(nature.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 1em;
}

.search{
    width: 50%;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 1px 2px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 15px;
    color: #cac7ff;
}
::placeholder{
    color:#cac7ff
}
.search button{
     border: 0;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     background-color: #58629b;
     cursor: pointer;
}
.search button img{
    width: 25px;
}


#linkdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

#prev, #lgout, #twitterlogin{
    border: 2px solid white;
    padding: 0.5em 1em;
    border-radius: 10px;
    font-size: 1.1em;
    text-decoration: none;
    color: white;
}

#prev:hover, #lgout:hover, #twitterlogin:hover{
    border-color: blue;
    background-color: white;
    color: blue;
    transition: 0.4s all;
    font-size: 1.2em;
}

#iglogin, #fblogin{
    border: 2px solid blue;
    color: blue;
    font-size: 1.1em;
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
    background-color: white;
}

#iglogin:hover, #fblogin:hover{
    border-color: white;
    color: white;
    transition: 0.4s all;
    font-size: 1.2em;
    background: none;
}


/*Media Query*/
@media (max-width: 800px) {
    #linkdiv a{
        font-size: 0.8em;
        padding: 0.4em 0.8em;
    }
}

@media (max-width: 600px) {
    #linkdiv{
        flex-wrap: wrap;
        height: 30vh;
    }
    #linkdiv a{
        font-size: 0.9em;
        padding: 0.5em, 1em;
    }
    .search{
        width: 80%;
    }
}

@media (max-width: 400px) {
    h3{
        font-size: 1.1em;
    }
    .search{
        height: 2em;
    }
    .search button{
        width: 2.5em;
        height: 2.5em;
    }
    .search button img{
        width: 1em;
        height: 1em;
    }
}

@media (max-width: 350px) {
    .search button{
        width: 2em;
        height: 2em;
    }
    .search{
        width: 85%;
    }
}

@media (max-width: 300px) {
    .container:nth-of-type(2), .container:nth-of-type(3), .container:nth-of-type(4), .container:nth-of-type(5){
        padding: 1%;
    }
    .search{
        width: 70%;
    }
    .search button{
margin-left: -5em;
    }
    #linkdiv a{
        font-size: 0.7em;
    }
    h3{
        font-size: 0.9em;
    }
    .search{
        width: 90%;
    }
    .container{
        width: 100%;
    }
    .search input{
        width: 80%;
    }
}

@media (max-width: 200px) {
    .search input::placeholder{
        font-size: 0.8em;
    }
}